#mainBody{
    
    .filteredContents{
        border-bottom: 2px solid $headerColors;
        margin-bottom: 15px;
        background-color: white;
        img{
            margin-top: 50px;
        }
    }
}